<div class="navbar-wagon navbar-fixed-top">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "JN logo.png", height: 50 %>
  <% end %>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Things to Know", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "About Us", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Social Media", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>

